<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="control/ui/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="control/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="control/ui/css/index.css" rel="stylesheet" type="text/css">
    <script src="control/ui/angular/angular.js"></script>
    <script src="control/ui/angular/angular.min.js"></script>
    <script src="control/ui/jquery/jquery-3.4.1.min.js"></script>

</head>
<body ng-app="blogIndex" ng-controller="blogIndexController">

<div class="container-fluid">
    <div class="row row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="container-fluid header">
                <div class="navbar-brand">
                    <a>个人网站</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">ISO</a></li>
                        <li><a href="#">ANDROID</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Java
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">jmeter</a></li>
                                <li><a href="#">EJB</a></li>
                                <li><a href="#">Jasper Report</a></li>
                                <li class="divider"></li>
                                <li><a href="#">分离的链接</a></li>
                                <li class="divider"></li>
                                <li><a href="#">另一个分离的链接</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入想要搜索的内容">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{loginUrl+'login'}}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;登陆</a>
                        </li>
                        <li><a href="{{loginUrl+'register'}}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;注册</a>
                        </li>

                        <!--<li><button ng-click="loginClick" style="padding-top: 15px;padding-bottom: 15px" ><span class="glyphicon glyphicon-log-in"></span>登陆</button></li>
                        <li><button ng-click="registerClick" style="padding-top: 15px;padding-bottom: 15px" ><span class="glyphicon glyphicon-user"></span>注册</button></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row row-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-3 col-md-4 col-sm-4"></div>
                <div class="col-lg-6 col-md-4 col-sm-4">
                    <p class="mt-5 mb-3 text-muted">Copyright&nbsp;©&nbsp;青宇软件工作室 . All rights reserved   Powered  by 2017-2019</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4"></div>
            </div>
        </div>
    </div>
</footer>


<!--添加登录弹框-->

<script type="text/ng-template" id="loginUi.html">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <form class="form-signin">
                        <!--    <img class="mb-4" src="./Signin Template · Bootstrap_files/bootstrap-solid.svg" alt="" width="72" height="72">-->
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="text" id="inputUsername" class="form-control" ng-model="username"
                               placeholder="Username" required="" autofocus=""><br/>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" ng-model="password"
                               placeholder="Password" required="">
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{{loginUrl+'forgetPass'}}">忘记密码？</a>
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" ng-click="blogLogin()" type="submit">Sign in
                        </button>
                        <!--                        <p class="mt-5 mb-3 text-muted">© 2017-2019</p>-->
                    </form>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>


</script>


<script src="control/js/index.js"></script>
</body>
</html>