
.header-class{
    background: #45b5aa;
}

.button-class{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:none;
    background: transparent ;
    color: #333333;
}

a{
     text-decoration:none;
    color: #0f0f0f;
 }

a:hover,a:focus,a:active{
    outline: none;
    color:#333;
    text-decoration:none; /*CSS下划线效果：无下划线*/
}
a:active {
    color:#333;
    text-decoration:none; /*CSS下划线效果：无下划线*/
    border-bottom: 1px #0099CC dotted /*CSS加一个只有下边的框 边框为虚线*/
}
.a-class1{
    font-size: 20px;
}