<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link href="control/ui/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="control/ui/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="control/ui/css/index.css" rel="stylesheet" type="text/css">
    <script src="control/ui/angular/angular.js"></script>
    <script src="control/ui/angular/angular.min.js"></script>
    <script src="control/ui/jquery/jquery-3.4.1.min.js"></script>
</head>
<body ng-app="login" ng-controller="loginController">


<p>这是登陆页面</p>




<script src="/control/js/login.js"></script>
</body>
</html>